btn.btn-outline-primary {
    color: white; /* Цвет текста */
    background-color: #4c51bf; /* Indigo-400 */
    border-color: #4c51bf; /* Цвет границы */
    font-size: 1.25rem; /* Размер шрифта */
    padding: 0.5rem 1.5rem; /* Отступы */
    border-radius: 0.5rem; /* Скругление углов */
}

.btn-outline-primary:hover {
    background-color: #3b42a3; /* Тёмный оттенок при наведении */
    border-color: #3b42a3;
}
