.nav-link {
    color: rgb(0 0 0 / 45%);
    font-size: 1.05rem; /* Размер шрифта */
}

.nav-link:hover {
    color: rgb(0 0 0 / 60%);
}

.navbar-nav .nav-link.active {    
    color: #5227CC !important; /* Фиолетовый цвет для активной страницы */
}

.btn-outline-primary {
    border-color: #7749F8; /* Цвет границы */
    color: #7749F8;
}

.btn-outline-primary:hover, .btn-outline-primary:active, .btn-outline-primary:focus-visible  {
    background-color: #623ec6 !important; /* Тёмный оттенок при наведении */
    border-color: #623ec6 !important;
}
