
/* Фон страницы */
body {
    background: #f8f9fa; 
}

/* Карточка авторизации */
.card {    
    border-radius: 15px; 
    background: #ffffff; 

}

/* Заголовок */
h2.text-primary {    
    color: #333!important;
}

/* Поля ввода */
.form-control {    
    border: 1px solid #ccc !important;
    background-color: #f9f9f9 !important;
}

.d-grid {
    margin-top: 2rem !important;
}
/* Кнопка */
.btn-primary {
    background: #7749F8 !important; 
    border-color: #7749F8 !important; 
    
}
.btn-primary:hover{    
    background: #3a1c99 !important;
    border-color: #3a1c99 !important;
}

.text-danger-margin {
    margin: -15px auto 0;
}
