{% extends 'base.html' %}

{% block title %}Список пользователей{% endblock %}

{% block content %}

<a href="{% url 'report_by_executors' %}">Отчет по исполнителям</a>

<!-- Поисковая форма -->
<form method="get" action="">
    <input type="text" name="q" placeholder="Поиск" value="{{ query }}">
    <button type="submit">Найти</button>
</form>

<!-- Кнопка для добавления пользователя -->
<!-- <a href="{% url 'create_user' %}">Добавить пользователя</a> -->
<button type="button" class="btn btn-primary" id="addUserButton">Добавить пользователя</button>

<!-- Область для таблицы пользователей -->
<div id="userTable">
    {% include 'users/user_table.html' %}
</div>


    <!-- Модальное окно -->
    <div class="modal fade" id="userModal" tabindex="-1" aria-labelledby="userModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="userModalLabel">Добавить пользователя</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body" id="modalBody">
                    Загрузка...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
