{% extends 'base.html' %}

{% block title %}Список проектов{% endblock %}

{% block content %}


<div class="container mt-60"> 
    <!-- Поисковая форма и кнопки --> 
    <h1>Список проектов</h1>
    <div class="d-flex justify-content-between align-items-center mb-4"> 
        <form method="get" action="" class="d-flex flex-grow-1 me-3"> 
            <input type="text" name="q" placeholder="Поиск" value="{{ query }}" class="form-control w-50"> 
            <button type="submit" class="btn btn-outline-secondary ms-2">Найти</button> 
        </form> 
        <div class="d-flex"> 
            {% if request.user.role == 'Администратор' %}
                <a href="{% url 'report_by_projects' %}" class="btn btn-outline-secondary me-2">Отчет по проектам</a> 
                <button type="button" class="btn btn-primary" id="addProjectButton">Добавить</button> 
            {% endif %}    
        </div> 
    </div> 


<!-- Включение таблицы -->
<div id="projectTableContainer">
    {% include 'projects/project_table.html' %}
</div>

<!-- Модальное окно -->
<div class="modal fade" id="projectModal" tabindex="-1" aria-labelledby="projectModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="projectModalLabel">Добавить проект</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body" id="projectModalBody">
                Загрузка...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}
